name: TRGoals M3U Güncelleyici

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

permissions:
  contents: write  # <--- BU SATIR ÇOK ÖNEMLİ (Yazma izni verir)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yükle
        run: |
          pip install -r requirements.txt

      - name: Chrome Kurulumu
        uses: browser-actions/setup-chrome@latest

      - name: Botu Çalıştır
        env:
          # Kendi tokenin yerine github'ın verdigini kullaniyoruz
          MY_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: python -u main.py
